@import "assets/scss/partials/nav";

.container-fluid {
    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

body > .container {
    background-color: white;
}
