/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 
    font-size: 0.8em;
}

body {
    background-image: url("ass");
}